/* This CSS is common to all pages */

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'caveat';
    src: url('./assets/fonts/Caveat-VariableFont_wght.ttf');
}

@keyframes background-swipe {
    0% {
        background-position: top right;
    }
    100% {
        background-position: bottom right;
    }
}

.animate-background {
    animation: background-swipe 3s ease-in-out forwards;
}